@charset "utf-8";

@import './funtion.styl';

.iconfont-nav {
  font-family:"iconfont" !important;
  font-size:19px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color #df5584
}

.link-color
    color #df5584
    .note-color
        color #000000
        font-size 12px

.nav-list
    font-size 12px