@charset "utf-8";

@import './funtion.styl';

.iconfont-nav {
  font-family:"iconfont" !important;
  font-size:14px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color #df5584
}

.iconfont-blue {
  font-family:"iconfont" !important;
  font-size:14px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color #01e7e5
}

.iconfont-zi {
  font-family:"iconfont" !important;
  font-size:14px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color #d595fc
}

.iconfont-hong {
  font-family:"iconfont" !important;
  font-size:14px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color #f9818c
}

.iconfont-huang {
  font-family:"iconfont" !important;
  font-size:14px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color #ffa627
}

.iconfont-lan {
  font-family:"iconfont" !important;
  font-size:14px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color #1d2974
}

.link-color
    color #df5584
    .note-color
        color #000000
        font-size 12px

.nav-list
    font-size 12px

.square-box
    padding 10px
    border 1px solid #f6f9fa
    vendor(border-radius, 3px)
    vendor(box-shadow, #f6f9fa 2px 2px 2px 0)