@charset "utf-8";

.search-nav-box
    width 340px
    height 50px
    display inline-block
    overflow hidden
    line-height 50px
    padding 0 10px
    background-color #ffffff
    border 1px solid #f6f9fa
    vendor(border-radius, 3px)
    vendor(box-shadow, #f6f9fa 2px 2px 2px 0)
   
    .search-nav-left
        color #df5584
    

.iconfont-red-small {
  font-family:"iconfont" !important;
  font-size:18px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color #df5584
}